@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(66, 0, 66);
    background-color: transparent;
    border: dashed red 1px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.layer {
    position: absolute;
    width: 100%;
}

.info {
    display: flex;
    margin: auto;
}

.menu {
    display: none;
    width: 30%;
    padding: 25px;
    background-color: purple;
    color: white;
    font-size: 25px;
    display: none;
}

button {
    width: fit-content;
    padding: 10px;
    border: 2px black solid;

}




/* .layer1 {
    z-index: -3;
}
.layer2 {
    z-index: -2;
}
.layer3 {
    z-index: -1;
} */

.layer1 .img1 {
    left: -25%;
    position: absolute;
    left: -50%;
    transform: translateY(0%);
    animation: 40s linear infinite moveDown1;
}

.layer1 .img2 {
    left: -25%;
    position: absolute;
    transform: translateY(-100%);
    animation: 40s linear infinite moveDown2;
}

.layer2 .img1 {
    position: absolute;
    transform: translateY(0%);
    animation: 4s linear infinite moveDown1;
}

.layer2 .img2 {
    position: absolute;
    transform: translateY(-100%);
    animation: 4s linear infinite moveDown2;
}

.layer3 .img1 {
    position: absolute;
    transform: translateY(0%);
    animation: 5s linear infinite moveDown1;
}

.layer3 .img2 {
    position: absolute;
    transform: translateY(-100%);
    animation: 5s linear infinite moveDown2;
}


@keyframes moveDown2 {
    to {
        transform: translateY(0%);
    }
}

@keyframes moveDown1 {
    to {
        transform: translateY(100%);
    }
}

.enemy {
    position: absolute;
}

.enemyWave {
    /* border: solid red 1px; */
    position: absolute;
    width: 100%;

    top: 80px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    gap: 10px;
}

.alien {
    width: calc((100%) / 5);
    max-width: 42px;
    height: 42px;
    border: solid 1px red;
    background-image: url('./game/assets/Enemy/chips/Frigate.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.gameUi {
    position: absolute;
    color: white;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    /* padding: .5rem 1rem; */
}


@media screen and (max-width: 600px) {
    .canvas {
        display: none;
    }
}