* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

#canvas {
    /* overflow: hidden; */
    max-width: 100%;
    max-height: calc(100vh);
    background-color: rgb(66, 0, 66);
    background-color: transparent;
    border: dashed red 1px;
    overflow: hidden;
    position: relative;
}

.layer {
    position: absolute;
}

.layer1 {
    z-index: -3;
}
.layer2 {
    z-index: -2;
}
.layer3 {
    z-index: -1;
}

.layer1 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    animation: 40s linear infinite  moveDown1;
}
.layer1 .img2 {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    animation: 40s linear infinite  moveDown2;
}
.layer2 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    animation: 20s linear infinite  moveDown1;
}
.layer2 .img2 {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    animation: 20s linear infinite  moveDown2;
}
.layer3 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    animation: 10s linear infinite  moveDown1;
}
.layer3 .img2 {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    animation: 10s linear infinite  moveDown2;
}


@keyframes moveDown2 {
    to {
        transform: translateY(0%);
    }
}

@keyframes moveDown1 {
    to {
        transform: translateY(100%);
    }
}

.enemy{
    position: absolute;
}